html{
    background-color: gray;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 760px;
    margin: auto;
}

h1{
    text-align: center;
}

#board{
    display: flex;
    flex-flow: row;
    gap: 10px;
    justify-content: center;
}
.row{
    display: flex;
    flex-flow: column;
    gap: 10px;

}

.tile{
    width: 150px;
    height: 150px;
    background-color: rgb(90, 18, 184) ;
}

#button{
    border-radius: 100%;
}
.tile:hover{
    background-color: rgb(111, 41, 202) ;
}

img{
    max-width: 100%;
    max-height: 100%;
}
#interaction{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 700px){
    .tile{
        width:100px;
        height: 100px;
    }
    #interaction{
        flex-flow:column;
    }
}

@media (max-width: 400px){
    .tile{
        width:50px;
        height: 50px;
    }
}


.tile.A{
    background: transparent;
    background-image: url('https://s3.gaming-cdn.com/images/products/4082/orig/jeu-steam-nierautomata-game-of-the-yorha-edition-cover.jpg');
    background-size: cover;

}
.tile.B{
    background: transparent;
    background-image: url('https://s3.gaming-cdn.com/images/products/6716/orig/game-steam-nier-replicant-ver122474487139-cover.jpg');
    background-size: cover;

}
.tile.C{
    background: transparent;
    background-image: url('https://www.mobygames.com/images/covers/l/594955-code-vein-playstation-4-front-cover.jpg');
    background-size: cover;

}
.tile.D{
    background: transparent;
    background-image: url('https://s3.gaming-cdn.com/images/products/5870/orig/tales-of-arise-pc-jeu-steam-cover.jpg');
    background-size: cover;

}
.tile.E{
    background: transparent;
    background-image: url('https://s1.gaming-cdn.com/images/products/2244/orig/age-of-empires-iv-pc-game-steam-cover.jpg');
    background-size: cover;

}
.tile.F{
    background: transparent;
    background-image: url('https://s1.gaming-cdn.com/images/products/9471/orig/genshin-impact-pc-jeu-epic-games-cover.jpg');
    background-size: cover;

}
.tile.G{
    background: transparent;
    background-image: url('https://img.g2a.com/323x433/1x1x0/naraka-bladepoint-pc-steam-gift-global/bbd63f37e8d746a68b35ece6');
    background-size: cover;

}
.tile.H{
    background: transparent;
    background-image: url('https://s1.gaming-cdn.com/images/products/7467/orig/jeu-steam-control-ultimate-edition-cover.jpg');
    background-size: cover;

}
/* liste d'image:
https://s3.gaming-cdn.com/images/products/4082/orig/jeu-steam-nierautomata-game-of-the-yorha-edition-cover.jpg 
https://s3.gaming-cdn.com/images/products/6716/orig/game-steam-nier-replicant-ver122474487139-cover.jpg
https://www.mobygames.com/images/covers/l/594955-code-vein-playstation-4-front-cover.jpg
https://s3.gaming-cdn.com/images/products/5870/orig/tales-of-arise-pc-jeu-steam-cover.jpg

https://s1.gaming-cdn.com/images/products/2244/orig/age-of-empires-iv-pc-game-steam-cover.jpg
https://s1.gaming-cdn.com/images/products/9471/orig/genshin-impact-pc-jeu-epic-games-cover.jpg
https://img.g2a.com/323x433/1x1x0/naraka-bladepoint-pc-steam-gift-global/bbd63f37e8d746a68b35ece6
https://s1.gaming-cdn.com/images/products/7467/orig/jeu-steam-control-ultimate-edition-cover.jpg
*/
